---
layout: default
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="lesson-list-heading">Lessons</h2>
    <table class="lesson-list">
      <tr>
        <th class="lesson-title">Lesson</th>
        <th class="lesson-site">Site</th>
        <th class="lesson-repo">Repository</th>
        <th class="lesson-maintainer">Maintainer(s)</th>
      </tr>
      {%- for post in site.posts -%}
      <tr>
        <td class="lesson-title">
          <a href="{{ post.site-url | absolute_url }}">
            {{ post.title | escape }}
          </a>
        </td>
        <td class="lesson-site">
          {%- if post.site-url -%}
          <a href="{{ post.site-url }}" target="_blank" class="icon-browser" title="Website for {{ post.title }}">
            <img src="assets/desktop-monitor.png" />
          </a>
          {%- endif -%}
        </td>
        <td class="lesson-repo">
          {%- if post.repo-url -%}
          <a href="{{ post.repo-url }}" target="_blank" class="icon-browser" title="Website for {{ post.title }}">
            <img src="assets/github-character.png" />
          </a>
          {%- endif -%}
        </td>
        <td class="lesson-maintainer">{{ post.maintainers }}</td>
      </tr>
      {%- endfor -%}
    </table>

  {%- endif -%}

  <p class="attribution">Icons made by <a href="https://www.flaticon.com/authors/dave-gandy" title="Dave Gandy">Dave Gandy</a> from <a href="https://www.flaticon.com/" title="Flaticon"> www.flaticon.com</a></p>
</div>
